.order {
  padding: 100px;
  background-image: url("../img/cutting.png");
}

.order-form {
  background: rgb(54, 25, 25);
  background: rgba(54, 25, 25, .5);
  color: black;
  radius: 10%;
  padding: 30px;
  text-align: center;
}

h3 {
  text-align: left;
}

button {
  margin-top: 50px;
  margin-left: 500px;
}

.result {
  background: rgb(54, 25, 25);
  background: rgba(54, 25, 25, .5);
  color: black;
  radius: 10%;
  padding: 30px;
  text-align: center;
}
