/*ALLPAGES*/

.lamp {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
   
}
.lights{
    margin-left: auto;
  margin-right: auto;
  display: block;
    width: 100%;
}

.title{
margin: 20px;
}

.button{
margin: 20px;
}

.lampRed {
    background-color: red;
}
.lampYellow {
    background-color: yellow;
}

.lampYellow2 {
    background-color: yellow;
}
.lampYellow3 {
background-color: yellow;
}
.lampGreen {
    background-color: green;
